
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; <%= new Date().getFullYear() %> <a href="http://127.0.0.1">StoreGG Admin</a>.</strong>
    All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- ./wrapper -->
